div#numint{
  margin: auto;
  margin-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}
div#numext{
  margin: auto;
  margin-left: 10px;
  width: 100px;
}
div#cp{
  margin: auto;
  margin-left: 10px;
  width: 100px;
}
div#check1{
  margin-top: 20px;
}
div#check2{
  margin-top: 20px;
}
div#userint{
  margin-top: 20px;
}
div#direc{
  margin-top: 50px;
}
div#datperso{
  margin-top: 20px;
}
div#nombre{
  margin-top: 25px;
}
div#apellidop{
  margin-top: 25px;
}
div#apellidom{
  margin-top: 25px;
}
div#curp{
  margin-top: 30px;
}
div#telefono{
  margin-top: 30px;
}
