<div class="text-center">
  <form class="row g-3">
    <div id="datperso">
      <label class="form-label">Datos Personales</label>
    </div>
    <div id="nombre" class="col-md-4">
      <label for="validationNombre" class="form-label">Nombre(s)</label>
      <input type="text" class="form-control" id="validationNombre" value="" required>
    </div>
    <div id="apellidop"class="col-md-4">
      <label for="validationApellidoP" class="form-label">Apellido Paterno</label>
      <input type="text" class="form-control" id="validationApellidoP"  required>
    </div>
    <div id="apellidom"class="col-md-4">
      <label for="validationApellidoM" class="form-label">Apellido Paterno</label>
      <input type="text" class="form-control" id="validationApellidoM" required>
    </div>
    <div id="curp"class="col-md-6">
      <label for="validationCurp" class="form-label">Curp</label>
      <input type="text" class="form-control" id="validationCurp" required>
    </div>
    <div id="telefono" class="col-md-6">
      <label for="validationTel" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="validationTel" required>
    </div>
    <div class="col-md-6">
      <label for="validationEmail" class="form-label">Email</label>
      <input type="text" class="form-control" id="validationEmail" required>
    </div>
    <div id="direc">
      <label class="form-label">Direccion</label>
    </div>
    <div class="col-md-3">
      <label for="validationCiudad" class="form-label">Ciudad</label>
      <select class="form-select" id="validationCiudad" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-3">
        <label for="validationEstado" class="form-label">Municipio</label>
        <select class="form-select" id="validationEstado" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
    </div>
    <div class="col-md-3">
      <label for="validationMunicipio" class="form-label">Estado</label>
      <select class="form-select" id="validationMunicipio" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="validationColonia" class="form-label">Colonia</label>
      <select class="form-select" id="validationColonia" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="validationCalle" class="form-label">Calle</label>
      <select class="form-select" id="validationCalle" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div id="numint" class="col-md-6">
      <label for="validationNumInt" class="form-label">Num. Int.</label>
      <input style="width: 70px" type="text" class="form-control" id="validationNumInt" required>
    </div>
    <div id="numext"class="col-md-6">
      <label for="validationNumExt" class="form-label">Num. Ext.</label>
      <input style="width: 70px" type="text" class="form-control" id="validationNumExt" required>
    </div>
    <div id="cp" class="col-md-6">
      <label for="validationCP" class="form-label">C.P</label>
      <input style="width: 70px" type="text" class="form-control" id="validationCP" required>
    </div>
  </form>
</div>
<div id="check1"class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Usuario Interno
  </label>
</div>
<div id="check2"class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault2">
    Usuario Externo
  </label>
</div>
<form class="row g-3">
  <div id="userint">
    <label class="form-label">Usuario Interno</label>
  </div>
  <div class="col-md-4">
    <label for="validationIdEmpleado" class="form-label">Id.Empleado</label>
    <input type="text" class="form-control" id="validationIdEmpleado" value="" required>
  </div>
  <div class="col-md-4">
    <label for="validationCargo" class="form-label">Cargo</label>
    <input type="text" class="form-control" id="validationCargo"  required>
  </div>
</form>

