
div#general{

  margin: auto;
  width: 1500px;
  height: 1000px;
}
div#datos-personales{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 485px;
  height: 975px;
}
div#referencias{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  width: 980px;
  height: 480px;
}
div#disponibilidad{
  float:right;
  margin-top: 10px;
  margin-right: 10px;
  width: 980px;
  height: 485px;
}
