<div id="num2"class="text-center">
  <form class="row g-3">
    <div id="titutlo">
      <label class="form-label">Datos de Referencia</label>
    </div>
    <div id="sucursal"class="col-md-3">
      <label for="validationSucursal" class="form-label">Sucursal</label>
      <select style="width: 400px" class="form-select" id="validationSucursal" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div id="departamento" class="col-md-3">
      <label for="validationDepartamento" class="form-label">Departamento que visita</label>
      <select style="width: 400px" class="form-select" id="validationDepartamento" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div id="personal" class="col-md-3">
      <label for="validationPersonal" class="form-label">Personal</label>
      <select style="width: 400px;" class="form-select" id="validationPersonal" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div id="asunto" class="col-md-3">
      <label for="validationAsunto" class="form-label">Asunto</label>
      <select class="form-select" id="validationAsunto" required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div id="des" class="col-mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Descripcion de su visita</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
</div>

