div#titutlo{
  margin-top: 20px;
}
div#sucursal{
  margin: auto;
  margin-top: 25px;
  margin-left: 5px;
  width: 410px;
}
div#departamento{
  margin: auto;
  margin-top: 25px;
  margin-left: 5px;
  width: 410px;
}

div#personal{
  margin: auto;
  margin-top: 30px;
  margin-left: 5px;
  width: 410px;
}

div#asunto{
  margin: auto;
  margin-top: 30px;
  margin-left: 5px;
  width: 410px;
}
div#des{
  margin: auto;
  margin-top: 20px;
}
