<div id="general">
  <div id="titulo" class="text-center">
    <label class="form-label">Disponibilidad de Visita</label>
  </div>
  <div id="calendario">

  </div>
  <div id="dias-disponibles">
    <div id="dis">
      <ul class="list-group">
        <li class="list-group-item">Disponibilidad</li>
        <li class="list-group-item list-group-item-success">Alta disponibilidad</li>
        <li class="list-group-item list-group-item-warning">Poca Disponibilidad</li>
        <li class="list-group-item list-group-item-danger">Sin disponibilidad</li>
        <li class="list-group-item list-group-item-dark">Dia sin servicio</li>
      </ul>
    </div>
    <div id="horario" class="col-md-4">
      <label for="inputState" class="form-label">Horario disponible</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <div id="enviar">
    <div id="send" class="text-center">
      <button type="submit" class="btn btn-primary">Solicitar Cita</button>
    </div>
  </div>
</div>
