div#encabezado{
  margin: auto;
  width: 1500px;
  height: 52px;
  background-color:dimgray;
}
h2#title{
  font-size: x-large;
  font-weight: bold;
  color: black;
  vertical-align: middle;
}
div#img{
  float: left;
  margin: auto;
  margin-left: 5px;
}
div#ti{
  float: left;
  margin: auto;
  margin-top: 12px;
  margin-left: 12px;
}
